.scroll {
    width: 100%;
    overflow: auto;
    height: 150px;
    white-space: pre-wrap;
}

.about {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    font-family: Helvetica, serif;
}

.btndone {
    border-radius: 25px;
    border: none;
    padding: 8px;
    font-family: Helvetica, serif;
    font-size: 15px;
    font-weight: 400;
    text-shadow: none;
    width: 150px;
}

.btndone :hover {
    color: white !important;
}

.footer {
    border-top: none;
}

.light {
    background-color: #e7e7e7;
}

.dark {
    background-color: #444b55;
}

.dark .btndone {
    background-color: #406f8e !important;
    border-color: #406f8e;
    color: white !important;
}

.light :global .modal-header {
    background-color: #e7e7e7;
}
