.scroll {
    width: 100%;
    overflow: auto;
    height: 150px;
    white-space: pre-wrap;
}

.about {
    background-color: #444B55;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    font-family: Helvetica;
}

.btndone {
    background-color: #406F8E !important;
    border-color: #406F8E;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    padding: 8px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    text-shadow: none;
    width: 150px;
    color: white !important;
}

.btndone :hover {
    color: white !important;
}

.footer {
    border-top: none;
}
