.dark :global .table {
    background-color: #151d29;
    border-left: solid #151d29 15px;
    border-right: solid #151d29 15px;
    border-top: solid #151d29 15px;
}

.dark {
    background-color: #151d29;
    border-left: solid #151d29 0;
    border-right: solid #151d29 0;
}

.itemlist {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px 10px;
}

.itemlist :global table {
    margin-bottom: 0;
    margin-top: 0;
}

.itemlist :global table > thead {
    text-align: left;
    position: -webkit-sticky;
    position: sticky;
}

.itemlist :global table > tbody > tr {
    font-family: Helvetica;
    font-size: 12px;
    border-style: none;
}

.itemlist :global table > tbody > tr {
    border-bottom: 1px solid #94989d;
    border-top: 0 solid;
}

.dark :global table > tbody > tr > td {
    border-bottom: 1px solid #94989d;
}

.itemlist :global table > tbody > tr:last-child > td {
    border-bottom: 0 solid;
    border-top: 0 solid;
}

.itemlist :global table > tbody > tr > td {
    border-top: 0 solid;
}

.dark :global table > tbody > tr > td {
    color: white;
}

.light :global table > tbody > tr > td {
    color: black;
}

.dark :global table > tbody > tr > td {
    border-bottom: 1px solid #94989d;
}

.dark :global table > tbody > tr:hover {
    background-color: #0d1013;
}

.dark :global table > tbody > tr:hover {
    background-color: #406f8e;
}

.dark :global table > tbody > tr {
    background-color: #2b333e;
}

hr {
    border-color: #94989d;
}

.dl {
    margin-right: 0;
}

.dl > h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bold;
}

.dl dt {
    width: auto;
    padding-right: 1em;
    text-align: left;
    pointer-events: none;
    margin-left: 10px;
    font-family: Helvetica;
    font-size: 12px;
}

.dl dd:hover {
    background-color: #ecf0f1;
}

.dl dd {
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
    border-bottom: 1px solid lightgray;
    font-family: Helvetica;
    font-size: 12px;
}

.dl dd:last-child {
    border-bottom: none;
}

.dark > h5 {
    color: white;
}

.light > h5 {
    color: black;
}

.dark .itemlist {
    color: white;
}
