.inputWidth {
    width: 6ch;
    margin-right: 5px;
}

.glyphMargin {
    margin-left: 5px;
}

.container :global {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0 5px 15px 0 black;
}

.container :global .panel {
    margin-bottom: 0;
    border: none;
    overflow: hidden;
}

.container :global .panel-heading {
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.dark :global .panel-heading {
    background: #444b55;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.dark :global .panel-body {
    background: #151d29;
    color: white;
}

.dark :global button.close {
    opacity: 1;
    background-color: #151d29;
    color: white;
}

.dark :global select {
    background-color: #444b55;
    font-family: Helvetica;
    color: white;
    border: none;
}

.dark :global input {
    background-color: #444b55;
    font-family: Helvetica;
    font-weight: 400;
    color: white;
    border: none;
}

label {
    font-family: Helvetica;
    font-weight: 400 !important;
}

/* Below adapted from https://stackoverflow.com/a/24465732 */

#slider {
    width: 400px;
    height: 17px;
    position: relative;
    margin: 100px auto;
    background: white;
}

#slider .bar {
    width: 388px;
    height: 5px;
    background: #333;
    position: relative;
    top: 1px;
    left: 1px;
}

#slider .highlight {
    height: 2px;
    position: absolute;
    width: 388px;
    top: 6px;
    left: 6px;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

    background: rgba(255, 255, 255, 0.25);
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: #444b55;
    height: 5px;
    padding: 0 0;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: #4f80a1;
}

input[type='range']:hover ~ #rangevalue,
input[type='range']:active ~ #rangevalue {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: alpha(opacity=100);
    opacity: 1;
    top: -75px;
}

input[type='range']:focus {
    outline: none;
}

.slider {
    top: 11px;
}
