<div class="header">
    {{label}}
</div>
<ul class="tooltip-ul">
    {{#type_ou}}
    <li onclick="emitter.emit('setStart', '{{type}}:{{guid}}')">
        <i class="fa fa-map-marker-alt"></i> Set as Starting Node
    </li>
    <li onclick="emitter.emit('setEnd', '{{type}}:{{guid}}')">
        <i class="fa fa-bullseye"> </i> Set as Ending Node
    </li>
    {{/type_ou}}
    {{^type_ou}}
    <li onclick="emitter.emit('setStart', '{{type}}:{{label}}')">
        <i class="fa fa-map-marker-alt"></i> Set as Starting Node
    </li>
    <li onclick="emitter.emit('setEnd', '{{type}}:{{label}}')">
        <i class="fa fa-bullseye"> </i> Set as Ending Node
    </li>
    {{/type_ou}}
    {{#type_user}}
    <li onclick="emitter.emit('query', 'MATCH (n:User {name:{name}}),(m),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {name: '{{label}}'}, '{{label}}')">
        <i class="fa fa-random"> </i> Shortest Paths to Here
    </li>
    {{/type_user}} {{#type_computer}}
    <li onclick="emitter.emit('query', 'MATCH (n:Computer {name:{name}}),(m),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {name: '{{label}}'}, '{{label}}')">
        <i class="fa fa-random"> </i> Shortest Paths to Here
    </li>
    {{/type_computer}} {{#type_group}}
    <li onclick="emitter.emit('query', 'MATCH (n:Group {name:{name}}),(m),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {name: '{{label}}'}, '{{label}}')">
        <i class="fa fa-random"> </i> Shortest Paths to Here
    </li>
    {{/type_group}} {{#type_gpo}}
    <li onclick="emitter.emit('query', 'MATCH (n:GPO {name:{name}}),(m),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {name: '{{label}}'}, '{{label}}')">
        <i class="fa fa-random"> </i> Shortest Paths to Here
    </li>
    {{/type_gpo}} {{#type_ou}}
    <li onclick="emitter.emit('query', 'MATCH (n:OU {guid:{guid}}),(m),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {guid: '{{guid}}'}, '{{label}}')">
        <i class="fa fa-random"> </i> Shortest Paths to Here
    </li>
    {{/type_ou}} {{#type_domain}}
    <li onclick="emitter.emit('query', 'MATCH (n:Domain {name:{name}}),(m),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {name: '{{label}}'}, '{{label}} ')">
        <i class="fa fa-random"> </i> Shortest Paths to Here
    </li>
    {{/type_domain}}
    {{#type_user}}
    <li onclick="emitter.emit('query', 'MATCH (n:User {name:{name}}),(m {owned: true}),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {name: '{{label}}'}, '{{label}}')">
        <i class="fa fa-skull"> </i> Shortest Paths to Here from Owned Principals
    </li>
    {{/type_user}} {{#type_computer}}
    <li onclick="emitter.emit('query', 'MATCH (n:Computer {name:{name}}),(m {owned: true}),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {name: '{{label}}'}, '{{label}}')">
        <i class="fa fa-skull"> </i> Shortest Paths to Here from Owned Principals
    </li>
    {{/type_computer}} {{#type_group}}
    <li onclick="emitter.emit('query', 'MATCH (n:Group {name:{name}}),(m {owned: true}),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {name: '{{label}}'}, '{{label}}')">
        <i class="fa fa-skull"> </i> Shortest Paths to Here from Owned Principals
    </li>
    {{/type_group}} {{#type_gpo}}
    <li onclick="emitter.emit('query', 'MATCH (n:GPO {name:{name}}),(m {owned: true}),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {name: '{{label}}'}, '{{label}}')">
        <i class="fa fa-skull"> </i> Shortest Paths to Here from Owned Principals
    </li>
    {{/type_gpo}} {{#type_ou}}
    <li onclick="emitter.emit('query', 'MATCH (n:OU {guid:{guid}}),(m {owned: true}),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {guid: '{{guid}}'}, '{{label}}')">
        <i class="fa fa-skull"> </i> Shortest Paths to Here from Owned Principals
    </li>
    {{/type_ou}} {{#type_domain}}
    <li onclick="emitter.emit('query', 'MATCH (n:Domain {name:{name}}),(m {owned: true}),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m=n RETURN p', {name: '{{label}}'}, '{{label}} ')">
        <i class="fa fa-skull"> </i> Shortest Paths to Here from Owned Principals
    </li>
    {{/type_domain}}
    {{#type_ou}}
    <li onclick="emitter.emit('editnode', '{{guid}}', '{{type}}')">
        <i class="fa fa-edit"> </i> Edit Node
    </li>
    {{/type_ou}}
    {{^type_ou}}
    <li onclick="emitter.emit('editnode', '{{label}}', '{{type}}')">
        <i class="fa fa-edit"> </i> Edit Node
    </li>
    {{/type_ou}}
    {{#owned}}
    <li onclick="emitter.emit('setOwned', '{{id}}', false)">
        <i class="fa fa-exclamation"> </i> Unmark {{type}} as Owned
    </li>
    {{/owned}}
    {{#notowned}}
    <li onclick="emitter.emit('setOwned', '{{id}}', true)">
        <i class="fa fa-exclamation"> </i> Mark {{type}} as Owned
    </li>
    {{/notowned}}
    {{#highvalue}}
    <li onclick="emitter.emit('setHighVal', '{{id}}', false)">
        <i class="fa fa-gem"> </i> Unmark {{type}} as High Value
    </li>
    {{/highvalue}}
    {{^highvalue}}
    <li onclick="emitter.emit('setHighVal', '{{id}}', true)">
        <i class="fa fa-gem"> </i> Mark {{type}} as High Value
    </li>
    {{/highvalue}}
    <li onclick="emitter.emit('deletenode', '{{id}}')">
        <i class="fa fa-trash"> </i> Delete Node
    </li>
    {{#expand}}
    <li onclick="emitter.emit('unfoldNode', '{{id}}')">
        <i class="fa fa-object-ungroup"> </i> Expand
    </li>
    {{/expand}} {{#collapse}}
    <li onclick="emitter.emit('collapseNode', '{{id}}')">
        <i class="fa fa-object-group"> </i> Collapse
    </li>
    {{/collapse}} {{#groupedNode}}
    <li onclick="emitter.emit('ungroupNode', '{{id}}')">
        <i class="fa fa-object-ungroup"> </i> Expand
    </li>
    {{/groupedNode}}
</ul>