<div class="header">
        Graph Options
</div>
<ul>
    <li onclick="">
        <i class="fa fa-plus"></i> Add Node
    </li>
    <li onclick="">
        <i class="fa fa-refresh"></i> Refresh Layout
    </li>
    <li onclick="">
        <i class="fa fa-retweet"></i> Reload Query
    </li>
    <li onclick="">
        <i class="fa fa-line-chart"></i> Change Layout
    </li>
    <li onclick="">
        <i class="fa fa-download"></i> Import Graph
    </li>
    <li onclick="">
        <i class="fa fa-upload"></i> Export Graph
    </li>
</ul>