<div class="header">
        Graph Options
</div>
<ul class="tooltip-ul">
    <li onclick="emitter.emit('addNode')">
        <i class="fa fa-plus"></i> Add Node
    </li>
    <li onclick="emitter.emit('addEdge')">
            <i class="fa fa-arrow-right"></i> Add Edge
        </li>
    <li onclick="emitter.emit('graphRefresh')">
        <i class="fas fa-sync-alt"></i> Refresh Layout
    </li>
    <li onclick="emitter.emit('graphReload')">
        <i class="fa fa-retweet"></i> Reload Query
    </li>
    <li onclick="emitter.emit('changeLayout')">
        <i class="fa fa-chart-line"></i> Change Layout
    </li>
    <li onclick="emitter.emit('importShim')">
        <i class="fa fa-download"></i> Import Graph
    </li>
    <li onclick="emitter.emit('showExport')">
        <i class="fa fa-upload"></i> Export Graph
    </li>
</ul>