<div class="header">
 {{label}}
</div>
<ul>
     {{#type_user}}
     <li onclick="emitter.emit('setStart', '{{label}}')">
          <i class="glyphicon glyphicon-screenshot"></i> Set as Starting Node
     </li>
     <li onclick="emitter.emit('setEnd', '{{label}}')">
          <i class="glyphicon glyphicon-screenshot"> </i> Set as Ending Node
     </li>
     <li onclick="emitter.emit('query', 'MATCH (n:User {name:{name}}),(m:User),p=shortestPath((m)-[r*1..]->(n)) RETURN p', {name: '{{label}}'}, '{{label}}')">
          <i class="glyphicon glyphicon-screenshot"> </i> Shortest Paths to Here
     </li>
     {{/type_user}} 
     {{#type_computer}}
     <li onclick="emitter.emit('setStart', '{{label}}')">
          <i class="glyphicon glyphicon-screenshot"> </i> Set as Starting Node
     </li>
     <li onclick="emitter.emit('setEnd', '{{label}}')">
          <i class="glyphicon glyphicon-screenshot"> </i> Set as Ending Node
     </li>
     <li onclick="emitter.emit('query', 'MATCH (n:Computer {name:{name}}),(m:User),p=allShortestPaths((m)-[r*1..]->(n)) RETURN p', {name: '{{label}}'}, '{{label}}')">
          <i class="glyphicon glyphicon-screenshot"> </i> Shortest Paths to Here
     </li>
     {{/type_computer}} 
     {{#type_group}}
     <li onclick="emitter.emit('setStart', '{{label}}')">
          <i class="glyphicon glyphicon-screenshot"> </i> Set as Starting Node
     </li>
     <li onclick="emitter.emit('setEnd', '{{label}}')">
          <i class="glyphicon glyphicon-screenshot"> </i> Set as Ending Node
     </li>
     <li onclick="emitter.emit('query', 'MATCH (n:Group {name:{name}}),(m:User),p=allShortestPaths((m)-[r*1..]->(n)) RETURN p', {name: '{{label}}'}, '{{label}}')">
          <i class="glyphicon glyphicon-screenshot"> </i> Shortest Paths to Here
     </li>
     {{/type_group}} 
     {{#expand}}
     <li onclick="emitter.emit('unfoldNode', {{id}}); appStore.currentTooltip.close()">
          <i class="glyphicon glyphicon-screenshot"> </i> Expand
     </li>
     {{/expand}} 
     {{#collapse}}
     <li onclick="emitter.emit('collapseNode', {{id}}); appStore.currentTooltip.close()">
          <i class="glyphicon glyphicon-screenshot"> </i> Collapse
     </li>
     {{/collapse}} 
     {{#groupedNode}}
     <li onclick="emitter.emit('ungroupNode', {{id}}); appStore.currentTooltip.close()">
          <i class="glyphicon glyphicon-screenshot"> </i> Expand
     </li>
     {{/groupedNode}}
</ul>
