<div class="header">
    {{label}}
</div>
<ul>
    {{#type_user}}
    <li onclick="emitter.emit('setStart', '{{type}}:{{label}}')">
        <i class="glyphicon glyphicon-screenshot"></i> Set as Starting Node
    </li>
    <li onclick="emitter.emit('setEnd', '{{type}}:{{label}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Set as Ending Node
    </li>
    <li onclick="emitter.emit('query', 'MATCH (n:User {name:{name}}),(m),p=shortestPath((m)-[r:{}*1..]->(n)) WHERE NOT m.name={name} RETURN p', {name: '{{label}}'}, '{{label}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Shortest Paths to Here
    </li>
    {{/type_user}} {{#type_computer}}
    <li onclick="emitter.emit('setStart', '{{type}}:{{label}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Set as Starting Node
    </li>
    <li onclick="emitter.emit('setEnd', '{{type}}:{{label}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Set as Ending Node
    </li>
    <li onclick="emitter.emit('query', 'MATCH (n:Computer {name:{name}}),(m),p=allShortestPaths((m)-[r:{}*1..]->(n)) WHERE NOT m.name={name} RETURN p', {name: '{{label}}'}, '{{label}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Shortest Paths to Here
    </li>
    {{/type_computer}} {{#type_group}}
    <li onclick="emitter.emit('setStart', '{{type}}:{{label}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Set as Starting Node
    </li>
    <li onclick="emitter.emit('setEnd', '{{type}}:{{label}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Set as Ending Node
    </li>
    <li onclick="emitter.emit('query', 'MATCH (n:Group {name:{name}}),(m),p=allShortestPaths((m)-[r:{}*1..]->(n)) WHERE NOT m.name={name} RETURN p', {name: '{{label}}'}, '{{label}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Shortest Paths to Here
    </li>
    {{/type_group}} {{#type_gpo}}
    <li onclick="emitter.emit('setStart', '{{type}}:{{guid}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Set as Starting Node
    </li>
    <li onclick="emitter.emit('setEnd', '{{type}}:{{guid}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Set as Ending Node
    </li>
    <li onclick="emitter.emit('query', 'MATCH (n:GPO {name:{name}}),(m),p=allShortestPaths((m)-[r:{}*1..]->(n)) WHERE NOT m.guid={guid} RETURN p', {name: '{{name}}'})">
        <i class="glyphicon glyphicon-screenshot"> </i> Shortest Paths to Here
    </li>
    {{/type_gpo}} {{#type_ou}}
    <li onclick="emitter.emit('setStart', '{{type}}:{{guid}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Set as Starting Node
    </li>
    <li onclick="emitter.emit('setEnd', '{{type}}:{{guid}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Set as Ending Node
    </li>
    <li onclick="emitter.emit('query', 'MATCH (n:OU {guid:{guid}}),(m),p=allShortestPaths((m)-[r:{}*1..]->(n)) WHERE NOT m.guid={guid} RETURN p', {guid: '{{guid}}'})">
        <i class="glyphicon glyphicon-screenshot"> </i> Shortest Paths to Here
    </li>
    {{/type_ou}} {{#type_domain}}
    <li onclick="emitter.emit('setStart', '{{type}}:{{label}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Set as Starting Node
    </li>
    <li onclick="emitter.emit('setEnd', '{{type}}:{{label}}')">
        <i class="glyphicon glyphicon-screenshot"> </i> Set as Ending Node
    </li>
    <li onclick="emitter.emit('query', 'MATCH (n:Domain {name:{name}}),(m),p=allShortestPaths((m)-[r:{}*1..]->(n)) WHERE NOT m.name={name} RETURN p', {name: '{{label}}'}, '{{label}} ')">
        <i class="glyphicon glyphicon-screenshot"> </i> Shortest Paths to Here
    </li>
    {{/type_domain}} {{#expand}}
    <li onclick="emitter.emit('unfoldNode', {{id}}); appStore.currentTooltip.close()">
        <i class="glyphicon glyphicon-screenshot"> </i> Expand
    </li>
    {{/expand}} {{#collapse}}
    <li onclick="emitter.emit('collapseNode', {{id}}); appStore.currentTooltip.close()">
        <i class="glyphicon glyphicon-screenshot"> </i> Collapse
    </li>
    {{/collapse}} {{#groupedNode}}
    <li onclick="emitter.emit('ungroupNode', {{id}}); appStore.currentTooltip.close()">
        <i class="glyphicon glyphicon-screenshot"> </i> Expand
    </li>
    {{/groupedNode}}
</ul>