<ul class='nav nav-tabs nav-justified'>
	<li role='presentation' class='active'><a href='#' role='tab' data-toggle='tab' aria-controls='dbinfo'>Database Info</a></li>
	<li role='presentation'><a href='#' role='tab' data-toggle='tab' aria-controls='nodeinfo'>Node Properties</a></li>
	<li role='presentation'><a href='#' role='tab' data-toggle='tab' aria-controls='pbqueries'>Pre-Built Queries</a></li>
</ul>

<div class="tab-content">
	<div role="tabpanel" class="tab-pane-active" id="dbinfo">
		{{dbinfo}}
	</div>
	<div role="tabpanel" class="tab-pane" id="nodeinfo">
		<h3 align='center'>Node Properties</h3>
		<div style='padding-bottom:1em'>Select a node for more information</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="pbqueries">
		<h4 align="center">
			Pre-Built Analytics Queries
		</h4>
		<a href="#" onclick="doQuery('MATCH (n), (target:Group {name:&quot;DOMAIN ADMINS&quot;}),p=allShortestPaths((n)-[*]->(target)) RETURN p')">Find Shortest Paths to DA</a>
	</div>
</div>
