<script id="template" type="text/template">
	<dl class='dl-horizontal'>
		<dt>Node:</dt>
		<dd>{{label}}</dd>
		<dt>SAMAccountName</dt>
		<dd> None </dd>
		<dt>Display Name</dt>
		<dd> None </dd>
		<dt>Password Last Changed</dt>
		<dd> None </dd>
		<br>
		<dt>First Degree Group Memberships</dt>
		<dd><a href="#" onclick="doQuery('MATCH (n:User {name:&quot;{{label}}&quot;}), (target:Group),p=allShortestPaths((n)-[:MemberOf*1]->(target)) RETURN p')">{{first_degree_group}}</a></dd>
		<dt>Unrolled Group Memberships</dt>
		<dd><a href="#" onclick="doQuery('MATCH (n:User {name:&quot;{{label}}&quot;}), (target:Group),p=allShortestPaths((n)-[:MemberOf*1..]->(target)) RETURN p', &quot;{{label}}&quot;)">{{unrolled}}</a></dd>
		<dt>Foreign Group Memberships</dt>
		<dd></dd>
		<br>
		<dt>First Degree Local Admin</dt>
		<dd><a href="#" onclick="doQuery('MATCH (n:User {name:&quot;{{label}}&quot;}), (target:Computer), p=allShortestPaths((n)-[:AdminTo*1]->(target)) RETURN p')">{{first_degree_admin}}</a></dd>
		<dt>Group Delegated Local Admin Rights</dt>
		<dd><a href="#" onclick="doQuery('MATCH (n:User {name:&quot;{{label}}&quot;}), (m:Group), x=allShortestPaths((n)-[r:MemberOf*1..]->(m)) WITH n,m,r MATCH (m)-[s:AdminTo*1..]->(p:Computer) RETURN n,m,r,s,p', &quot;{{label}}&quot;, &quot;&quot;)">{{dlar}}</a></dd>
		<dt>Derivative Local Admin Rights</dt>
		<dd><a href="#" onclick="doQuery('MATCH (n:User {name:&quot;{{label}}&quot;}), (m:Computer), p=allShortestPaths((n)-[r*]->(m)) RETURN p', &quot;{{label}}&quot;)">{{derivative}}</a></dd>
		<dt>Sessions</dt>
		<dd><a href="#" onclick="doQuery('MATCH (n:Computer)-[r:HasSession]->(m:User {name:&quot;{{label}}&quot;}) RETURN n,r,m')">{{sessions}}</a></dd>
	</dl>
</script>